.card {
    width: 30rem;
    margin: 1rem;
     border-radius: 10px;
}

 

img {
    width: 20rem;
}

.card-form {
    width: 40rem;
    margin-left: 15rem;
    margin-left: 22rem;
 }


.mat-button-toggle {
    font-size: 18px;
    font-weight: bold;
    font-weight: 500;
}

.mat-radio-group {
    align-items: center;
    justify-content: center;
}

.example-full-width {
    width: 50%;
    
}