<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Mars Exploration Rovers</mat-card-title>
        <mat-card-subtitle>Sonda Mars Exploration Rovers em Marte </mat-card-subtitle>
    </mat-card-header>
    <iframe src="https://mars.nasa.gov/gltf_embed/25042"   width="100%" height="250px" frameborder="0"> </iframe>
    <mat-card-content>
           <p>
            A missão Mars Exploration Rovers ou Veículos Exploradores de Marte, consiste no envio a Marte pela NASA, de
            dois pequenos veículos (rovers) geológicos gêmeos, equipados com diversos instrumentos modernos de
            exploração do meio ambiente, capazes de se locomover em Marte, a fim de procurar respostas sobre a
            existência de água no planeta.</p>

            <p>Cada veículo foi transportado em seu próprio foguete e pousaram na região equatorial de Marte, no espaço de
            alguns dias de diferença, um em cada lado do planeta.</p>

            <p>Os veículos (rovers) foram denominados de Spirit e Opportunity.</p>

            <p>O veículo Spirit foi lançado em 10 de junho de 2003 e o veículo Opportunity foi lançado em 7 de julho de
            2003.</p>

            <p>Spirit pousou em Marte em 3 de Janeiro de 2004 e o Opportunity pousou em 24 de janeiro de 2004, horários
            UTC.</p>

            <p> A missão Mars Exploration Rover é parte do programa de exploração de Marte pela NASA, sob os cuidados do
            Laboratório de Jato-propulsão - JPL em um programa de longa duração para a exploração robótica de Marte.</p>
     </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>